$defaultBorderSize: 3px;
$textColor: #CCCCCC;
$placeHolderColor: rgb(158, 158, 158);
$defaultBorderColor: #474747;


@import 'blockly/CustomBlocklyStyles.scss';
@import 'util/Utils.scss';
@import 'sidebar/Sidebar.scss';
@import 'overlay/Overlay.scss';
@import 'LoadingScreen.scss';
@import 'InputStyles.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body, #page{
    width: 100%;
    height: 100%;
}

body{
    background: #252526;
    overflow-x: hidden;
    color: $textColor;

    &.loadingScreen{
        overflow: hidden;
    }
}

#page, #header{
    display: flex;
    flex-direction: column;
}

// Header of the page
header{
    display: flex;
    flex-direction: row;
    color: white;

    img {
        cursor: pointer;
        width: 40px;
        height: 40px;
        filter: grayscale(0.1);
        margin: 8px;
    }

    .split{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input{
            font-size: 1.2rem;
            width: 100%;
            background: transparent;
            border: none;
            padding-left: 4px;
        }
    }

    .menubar {
        user-select: none;

        li{
            padding:5px;

            &.disabled{
                color: gray;
            }

            &:hover{
                background: rgba(0, 0, 0, 0.255);
            }

            &.divider {
                padding: 0;
                height: 1px;
                margin: 5px;
                background: gray;
            }
        }

        .submenu {
            position: relative;
            &>ul{
                margin-left: 100%;
                white-space: nowrap;
                top: 0;
            }

            &:hover>ul, &>ul:hover{
                display: block;
            }
            &:after {
                content: "\f101";
                font: normal normal normal 14px/1 ForkAwesome;
                margin-left: 10px;
            }
        }

        div{
            position: relative;
            white-space: nowrap;
            display: inline-block;
            cursor: pointer;
            padding: 2px 5px;

            &:hover{
                background: rgba(0, 0, 0, 0.255);
            }

            ul{
                min-width: 100px;
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                position: absolute;
                z-index: 9999;
                background: rgb(47, 47, 47);
                border-radius: 2px;
                border: 3px solid gray;

                display: none;
                left: 0;
            }

            &:focus>ul, &:focus-within>ul{
                display: block;
            }


        }

    }
}

// Whats visible most of the time.
// Stuff like popups etc. goes outside of this
#content{
    overflow: hidden;
    display: flex;
    flex-grow: 1;
}

// Area where most of the work is done.
// Contains the blockly-workspace and the info-icon
#mainArea{
    display: flex;
    flex-grow: 1;
    height:100%;
    flex-direction: column;

    // Info-icons
    #infobar{
        border-top: $defaultBorderSize solid $defaultBorderColor;
        max-width: 100%;
        white-space: nowrap;
        position: relative;
        height: 30px;
        overflow: hidden;
        
        .wrapper{
            position: absolute;
            font-size: 15px;
            align-items: center;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            
            span{
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;

                /*Default color is info-color*/

                &.error{
                    color: rgb(255, 0, 0);
                }

                &.warn{
                    color: rgb(255, 255, 0);
                }
            }
            
            i{
                margin: 0 10px;
                cursor: pointer;
                border: 1px solid $textColor;
                width: 17px;
                height: 17px;
                text-align: center;
                border-radius: 50%;

                &.hidden{
                    display: none;
                }
            }
        }

    }
}

