// Removes some annoying styles
.blocklyMainBackground{
    stroke: none;
}

 // Blockly-workspace wrapper
 #blocklyArea{
    position: relative;
    flex-grow: 1;

    // Blockly-workspace
    #blocklyDiv{
        width: 100%;
        height:100%;
        user-select: none;
    }

    // Popup for "hidden" blockly-block settings
    #blockly-settingsui{
        margin-left: 20px;
        position: absolute;
        z-index: 100;
        bottom: 2rem;
        right: 2rem;
        font-size: 1.4rem;
        background: #1E1E1E;
        padding: 0.4rem;
        border: 3px solid #474747;
        border-radius: 8px;

        // For all lines that contain the actual elements
        .line{
            white-space: nowrap;
            margin-bottom: .6rem;
            &:last-child{
                margin-bottom: 0;
            }

            &>*{
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                margin-right: .4rem;

                &:last-child{
                    margin-right: 0;
                }
            }
        }


        // Styles for the info-icons
        .infoIcon{
            display: inline;
        }

        // Simple text element
        .bsg-text{
            font-size: 1.3rem;
        }

        // Line-seperator with a bit of space below
        .bsg-line-seperator{
            display: block;
            height: 2px;
            background: #6a6a6a;
            margin-bottom: 8px;
            border-radius: 5px;
        }

        // Dropdown-element
        .bsg-dropdown{
            padding: 0;
            background: transparent;

            option{
                background-color: #303030;
            }
        }

        // Rect which is the preview of the color-picker
        .bsg-color-rect{
            position: relative;
            width: 20px;
            height: 15px;
            cursor: pointer;
            border-radius: 2px;

            &:focus-within > .hsv-color-picker_popup, &:focus > .hsv-color-picker_popup{
                display: block;
            }

            & > .hsv-color-picker_popup{
                display: none;

                position: absolute;
                bottom: calc(100% + 5px);
                right: -40px;
                background-color: #696969;
                padding: 5px;
                border-radius: 4px;
                bottom: 34px;

                &::before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    right: 40px;
                    bottom: -10px;
                    height: 20px;
                    transform: rotate(45deg);
                    background: #696969;
                }
            }

            &:hover{
                outline: 2px solid white
            }
        }

        &.hidden{
            display: none;
        }
    }
}