@import 'fields/FieldCustomColor.scss';

// Removes some annoying styles
.blocklyMainBackground{
    stroke: none;
}

 // Blockly-workspace wrapper
 #blocklyArea{
    position: relative;
    flex-grow: 1;

    // Blockly-workspace
    #blocklyDiv{
        width: 100%;
        height:100%;
        user-select: none;
    }

    // Popup for "hidden" blockly-block settings
    #blockly-settingsui{
        margin-left: 20px;
        position: absolute;
        z-index: 100;
        bottom: 2rem;
        right: 2rem;
        font-size: 1.4rem;
        background: #1E1E1E;
        padding: 0.4rem;
        border: 3px solid #474747;
        border-radius: 8px;

        // For all lines that contain the actual elements
        .line{
            white-space: nowrap;
            margin-bottom: .6rem;
            &:last-child{
                margin-bottom: 0;
            }

            &>*{
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                margin-right: .4rem;

                &:last-child{
                    margin-right: 0;
                }
            }
        }


        // Styles for the info-icons
        .infoIcon{
            display: inline;
            margin: 0;
        }

        // For number-input fields
        .bsg-number-input{
            position: relative;

            input, p{
                font-size: 1.3rem;
                padding-bottom: 0;
                padding-top: 0;
            }

            // Decoy element to size the input to fit it's content length
            p{
                &::after{
                    // About the size of the number-dropup/down-buttons
                    content: '------';
                }
            }

            input{
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                transition: .2s;

                &:invalid{
                    box-shadow: 0px 0px 3px 2px red;
                    transition: .2s;
                }
            }

            &>*{
                display: inline;
                vertical-align: middle;
                line-height: normal;
            }
        }

        // Simple text element
        .bsg-text{
            font-size: 1.3rem;
        }

        // Line-seperator with a bit of space below
        .bsg-line-seperator{
            display: block;
            height: 2px;
            background: #6a6a6a;
            margin-bottom: 8px;
            border-radius: 5px;
        }

        &.hidden{
            display: none;
        }
    }
}