/**
    Textinput of which the length growth with the amount of text inside
*/
.sizeableTF{
    position: relative;

    input, p{
        font-size: 1.3rem;
        padding-bottom: 0;
        padding-top: 0;
    }

    // Decoy element to size the input to fit it's content length
    p{
        &::after{
            // About the size of the padding in the input-field
            content: '---';
        }
    }

    input{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        transition: .2s;

        &:invalid{
            box-shadow: 0px 0px 3px 2px red;
            transition: .2s;
        }
    }

    &>*{
        display: inline;
        vertical-align: middle;
        line-height: normal;
    }
}