// How many pixels the overlay-gutter size goes
$gutter_extra_size: 8px;

.gutter {
    background-color: #474747;
    background-repeat: no-repeat;
    background-position: 50%;
    
    &.gutter-vertical {
        cursor: row-resize;
        position: relative;

        &>*{
            width: 100%;
            height: $gutter_extra_size;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            z-index: 20;
        }
    }
    
    &.gutter-horizontal {
        cursor: col-resize;
        position: relative;

        &>*{
            height: 100%;
            width: $gutter_extra_size;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            z-index: 20;
        }
    }
}