
// Outer shell for the tab-handler
.tabHandler{
    
    // Picker for the preview
    .th-picker{
        border-bottom: $defaultBorderSize solid $defaultBorderColor;
        width: 100%;
        
        // Contains the text-elements for the tabs
        .th-texts{
            visibility: visible;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            input{
                background: transparent;
                border: none;
                outline: none;
                color: $textColor;
                margin: 0 2px;
                cursor: pointer;
                padding: 4px 4px;
                transition: .3s;
                transition-property: color, text-shadow;
                font-size: 20px;

                &:hover, &.th-select{
                    color: #fff;
                    text-shadow: 0px 0px 10px white;
                    transition: .3s;
                    transition-property: color, text-shadow;
                }
            }
        }
    
        // Contains the icon-elements for the tabs
        .th-icons{
            visibility: hidden;
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            font-size: 30px;
            padding: 5px 0;

            i{
                cursor: pointer;
                margin: 2px 4px;


                &:hover, &.th-select{
                    color: #fff;
                    text-shadow: 0px 0px 10px white;
                    transition: .3s;
                    transition-property: color, text-shadow;
                }
            }
        }

        // For tab-pickers that are hidden
        &.th-hide{

            .th-texts{
                visibility: hidden;
                position: absolute;
            }

            .th-icons{
                visibility: visible;
                position: initial;
            }
        }
    }

    // Container for all tabs
    .th-tabs{
        flex-grow: 1;
        position: relative;
        width: 100%;

        &>*{
            height: 100%;
        }
    }

}